* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
html,
#app,
#main {
  height: 100%;
  background: #fff;
}

#main {
  overflow-y: scroll;
}

.spelling {
  position: sticky;
  top: -1px;
}

.cont p {
  background: #F4F4F4;
  color: #AAAAAA;
  line-height: 2rem;
  text-indent: 1rem;
  font-size: 3rem;
}

.cont dl {
  border-bottom: 0.1rem solid #DDDDDD;
  margin: 0 1rem;
  display: flex;
}

.cont dl dd {
  flex: 1;
}

.cont dl dd img {
  width: 90%;
  margin-top: 0.4rem;
}

.cont dl dt {
  flex: 7;
  font-size: 3.2rem;
  line-height: 4rem;
  text-indent: 1rem;
}

.cont dl:last-child {
  border: 0;
}

.letter {
  position: fixed;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.letter span {
  width: 3.5rem;
  text-align: center;
  color: #6C91B4;
  font-size: 2.7rem;
  padding: 0.1rem 0;
}

.master {
  width: 75%;
  position: fixed;
  top: 0;
  right: 0;
  transition: all .2s ease;
  z-index: 100;
  height: 100%;
  box-shadow: 0 0 5rem #eee;
  background: #fff;
  overflow-y: scroll;
  transform: translate3d(100%, 0, 0);
}

.master div > p {
  background: #F4F4F4;
  line-height: 2.2rem;
  color: #717171;
  font-size: 2.5rem;
  text-indent: 1rem;
}

.master dl {
  display: flex;
  border-bottom: 0.1rem solid #DDDDDD;
}

.master dl dd {
  flex: 1;
}

.master dl dd img {
  width: 100%;
  margin-left: 1rem;
}

.master dl dt {
  flex: 2;
  line-height: 2rem;
}

.master dl p {
  margin-top: 1rem;
  color: #5F687A;
  font-size: 2.5rem;
  background: #fff;
  text-indent: 2rem;
}

.master dl p:last-child {
  margin-top: 0;
  color: red;
  font-size: 2.7rem;
}

.master.active {
  transform: translate3d(0, 0, 0);
}
